<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <title>Instagram</title>
        <link href="{% static 'css/base.css'%}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'img/icon.png'%}" rel = "icon"/>
    </head>
    <body>
        <header class = "top_bar">
            <div class = "left_box">
                <div class = "favicon_frame">
                    <a href="{% url 'profile' %}"><img class = "faviconFrame" src="{% static 'img/line_favicon.png'%}" alt="인스타 로고"/></a>
                </div>
                <div class = "line">
                    <img class="logo" src="{% static 'img/logo_text.png'%}" alt = "인스타 글씨"/>
                </div>
            </div>
            <div class = "right_box">
                <div class = "heart_box">
                    <img class = "heart" src="{% static 'img/liked.png'%}" alt = "글 작성" />
                </div>
                <div class = "myInfo_box">
                    <a href="{% url 'profile' %}"><img class = "myInfo" src = "{% static 'img/myinfo.png'%}" alt = "내 프로필"/></a>
                </div>
            </div>
        </header>
        {% block content %}
        {% endblock %}
    </body>
</html>